.cart{
    display: flex;
    justify-content: space-between;
    margin: 4rem;
}
.price-table{
    padding: 1rem;
    
}
.price-table span{
    padding: 10px;
}
.empty-cart{
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.cart-img{
    height: 40vh;
}
.cart-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}